
<% if action == 'show' %>
  <a href="<%= cats_url %>">Cat Index Link</a>
<% else %>
    <a href="<%= cats_url(@cat) %>">Cat Show Page</a>
<% end  %>

      
      <ul>
        <li><%= cat.name %></li>
        <li><%= cat.age %></li>
        <li><%= cat.color %></li>
        <li><%= cat.sex %></li>
        <li><%= cat.description %></li>
      </ul>